body {
  background-image: url("https://w0.peakpx.com/wallpaper/925/491/HD-wallpaper-tanjirou-and-nezuko.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: "Roboto", sans-serif;
}
